.home {
    margin-top: 30px;
  }
  
  .simple-carousel {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel-image {
    display: none;
    text-align: center;
  }
  
  .carousel-image.active {
    display: block;
  }
  
  .carousel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .caption {
    margin-top: 10px;
  }
  
  .carousel-controls {
    margin-top: 20px;
  }
  